In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
##Load the Dataset
data=pd.read_csv("D:\End_to_End ANN Project_churn_prediction\Telco_customer_churn_updated.csv")
data.head(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [3]:
## Proprecess the data 
## Drop irrelevant features

data=data.drop(['CustomerID','Count','Lat Long','Latitude','Longitude','Zip Code'], axis=1)

In [4]:
data.head(10)

,Country,State,City,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,United States,California,Los Angeles,Male,No,No,No,2,Yes,No,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,United States,California,Los Angeles,Female,No,No,Yes,2,Yes,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,United States,California,Los Angeles,Female,No,No,Yes,8,Yes,Yes,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,United States,California,Los Angeles,Female,No,Yes,Yes,28,Yes,Yes,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,United States,California,Los Angeles,Male,No,No,Yes,49,Yes,Yes,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices
5,United States,California,Los Angeles,Female,No,Yes,No,10,Yes,No,...,Month-to-month,No,Credit card (automatic),55.20,528.35,Yes,1,78,5925,Competitor offered higher download speeds
6,United States,California,Los Angeles,Male,Yes,No,No,1,No,No,...,Month-to-month,Yes,Electronic check,39.65,39.65,Yes,1,100,5433,Competitor offered more data
7,United States,California,Los Angeles,Male,No,No,No,1,Yes,No,...,Month-to-month,No,Mailed check,20.15,20.15,Yes,1,92,4832,Competitor made better offer
8,United States,California,Los Angeles,Male,No,Yes,Yes,47,Yes,Yes,...,Month-to-month,Yes,Electronic check,99.35,4749.15,Yes,1,77,5789,Competitor had better devices
9,United States,California,Los Angeles,Male,No,Yes,No,1,No,No,...,Month-to-month,No,Electronic check,30.20,30.2,Yes,1,97,2915,Competitor had better devices

In [5]:
nan_count=data.isna().sum()
nan_count

Country                 0
State                   0
City                    0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [6]:
data=data.drop(['Churn Reason'], axis=1)

In [7]:
# Replace 'no phone connection' with 'no' in the 'Feature' column
data['Multiple Lines'] = data['Multiple Lines'].replace('No phone service', 'No')

In [8]:
data['Online Security']=data['Online Security'].replace('No internet service', 'No')

In [9]:
data['Online Backup']=data['Online Backup'].replace('No internet service', 'No')

In [10]:
data['Device Protection']=data['Device Protection'].replace('No internet service', 'No')

In [11]:
data['Tech Support']=data['Tech Support'].replace('No internet service', 'No')

In [12]:
data['Streaming TV']=data['Streaming TV'].replace('No internet service', 'No')

In [13]:
data['Streaming Movies']=data['Streaming Movies'].replace('No internet service', 'No')

In [14]:
data['Online Backup']=data['Online Backup'].replace('No internet service', 'No')

In [15]:
data['Device Protection']=data['Device Protection'].replace('No internet service', 'No')

In [16]:
data['Tech Support']=data['Tech Support'].replace('No internet service', 'No')

In [17]:
data['Internet Service'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [18]:
#Encode categorical variable
label_encoder_gender=LabelEncoder()
label_encoder_senior_citizen=LabelEncoder()
label_encoder_partner=LabelEncoder()
label_encoder_dependents=LabelEncoder()
label_encoder_phoneservice=LabelEncoder()
label_encoder_multiple_lines=LabelEncoder()
label_encoder_online_security=LabelEncoder()
label_encoder_online_backup=LabelEncoder()
label_encoder_device_protection=LabelEncoder()
label_encoder_tech_support=LabelEncoder()
label_encoder_streaming_tv=LabelEncoder()
label_encoder_streaming_movies=LabelEncoder()


data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data['Senior Citizen']=label_encoder_senior_citizen.fit_transform(data['Senior Citizen'])
data['Partner']=label_encoder_partner.fit_transform(data['Partner'])
data['Dependents']=label_encoder_dependents.fit_transform(data['Dependents'])
data['Phone Service']=label_encoder_phoneservice.fit_transform(data['Phone Service'])
data['Multiple Lines']=label_encoder_multiple_lines.fit_transform(data['Multiple Lines'])
data['Online Backup']=label_encoder_online_backup.fit_transform(data['Online Backup'])

data['Device Protection']=label_encoder_device_protection.fit_transform(data['Device Protection'])

data['Online Security']=label_encoder_online_security.fit_transform(data['Online Security'])

data['Tech Support']=label_encoder_tech_support.fit_transform(data['Tech Support'])

data['Streaming TV']=label_encoder_streaming_tv.fit_transform(data['Streaming TV'])

data['Streaming Movies']=label_encoder_streaming_movies.fit_transform(data['Streaming Movies'])

In [19]:
data

,Country,State,City,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,...,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV
0,United States,California,Los Angeles,1,0,0,0,2,1,0,...,0,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239
1,United States,California,Los Angeles,0,0,0,1,2,1,0,...,0,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701
2,United States,California,Los Angeles,0,0,0,1,8,1,1,...,1,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372
3,United States,California,Los Angeles,0,0,1,1,28,1,1,...,1,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003
4,United States,California,Los Angeles,1,0,0,1,49,1,1,...,1,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,United States,California,Landers,0,0,0,0,72,1,0,...,0,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No,0,45,5306
7039,United States,California,Adelanto,1,0,1,1,24,1,1,...,1,One year,Yes,Mailed check,84.80,1990.5,No,0,59,2140
7040,United States,California,Amboy,0,0,1,1,72,1,1,...,1,One year,Yes,Credit card (automatic),103.20,7362.9,No,0,71,5560
7041,United States,California,Angelus Oaks,0,0,1,1,11,0,0,...,0,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793
7042,United States,California,Apple Valley,1,0,0,0,66,1,0,...,1,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No,0,38,5097

In [20]:
data=data.drop(['Churn Label'],axis=1)

In [21]:
data

,Country,State,City,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV
0,United States,California,Los Angeles,1,0,0,0,2,1,0,...,0,0,Month-to-month,Yes,Mailed check,53.85,108.15,1,86,3239
1,United States,California,Los Angeles,0,0,0,1,2,1,0,...,0,0,Month-to-month,Yes,Electronic check,70.70,151.65,1,67,2701
2,United States,California,Los Angeles,0,0,0,1,8,1,1,...,1,1,Month-to-month,Yes,Electronic check,99.65,820.5,1,86,5372
3,United States,California,Los Angeles,0,0,1,1,28,1,1,...,1,1,Month-to-month,Yes,Electronic check,104.80,3046.05,1,84,5003
4,United States,California,Los Angeles,1,0,0,1,49,1,1,...,1,1,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,United States,California,Landers,0,0,0,0,72,1,0,...,0,0,Two year,Yes,Bank transfer (automatic),21.15,1419.4,0,45,5306
7039,United States,California,Adelanto,1,0,1,1,24,1,1,...,1,1,One year,Yes,Mailed check,84.80,1990.5,0,59,2140
7040,United States,California,Amboy,0,0,1,1,72,1,1,...,1,1,One year,Yes,Credit card (automatic),103.20,7362.9,0,71,5560
7041,United States,California,Angelus Oaks,0,0,1,1,11,0,0,...,0,0,Month-to-month,Yes,Electronic check,29.60,346.45,0,59,2793
7042,United States,California,Apple Valley,1,0,0,0,66,1,0,...,1,1,Two year,Yes,Bank transfer (automatic),105.65,6844.5,0,38,5097

In [22]:
label_encoder_paperlessbilling=LabelEncoder()


data['Paperless Billing']=label_encoder_paperlessbilling.fit_transform(data['Paperless Billing'])

In [23]:
data

,Country,State,City,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV
0,United States,California,Los Angeles,1,0,0,0,2,1,0,...,0,0,Month-to-month,1,Mailed check,53.85,108.15,1,86,3239
1,United States,California,Los Angeles,0,0,0,1,2,1,0,...,0,0,Month-to-month,1,Electronic check,70.70,151.65,1,67,2701
2,United States,California,Los Angeles,0,0,0,1,8,1,1,...,1,1,Month-to-month,1,Electronic check,99.65,820.5,1,86,5372
3,United States,California,Los Angeles,0,0,1,1,28,1,1,...,1,1,Month-to-month,1,Electronic check,104.80,3046.05,1,84,5003
4,United States,California,Los Angeles,1,0,0,1,49,1,1,...,1,1,Month-to-month,1,Bank transfer (automatic),103.70,5036.3,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,United States,California,Landers,0,0,0,0,72,1,0,...,0,0,Two year,1,Bank transfer (automatic),21.15,1419.4,0,45,5306
7039,United States,California,Adelanto,1,0,1,1,24,1,1,...,1,1,One year,1,Mailed check,84.80,1990.5,0,59,2140
7040,United States,California,Amboy,0,0,1,1,72,1,1,...,1,1,One year,1,Credit card (automatic),103.20,7362.9,0,71,5560
7041,United States,California,Angelus Oaks,0,0,1,1,11,0,0,...,0,0,Month-to-month,1,Electronic check,29.60,346.45,0,59,2793
7042,United States,California,Apple Valley,1,0,0,0,66,1,0,...,1,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0,38,5097

In [24]:
data=data.drop(['Country','City'],axis=1)

In [25]:
data

,State,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV
0,California,1,0,0,0,2,1,0,DSL,1,...,0,0,Month-to-month,1,Mailed check,53.85,108.15,1,86,3239
1,California,0,0,0,1,2,1,0,Fiber optic,0,...,0,0,Month-to-month,1,Electronic check,70.70,151.65,1,67,2701
2,California,0,0,0,1,8,1,1,Fiber optic,0,...,1,1,Month-to-month,1,Electronic check,99.65,820.5,1,86,5372
3,California,0,0,1,1,28,1,1,Fiber optic,0,...,1,1,Month-to-month,1,Electronic check,104.80,3046.05,1,84,5003
4,California,1,0,0,1,49,1,1,Fiber optic,0,...,1,1,Month-to-month,1,Bank transfer (automatic),103.70,5036.3,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,California,0,0,0,0,72,1,0,No,0,...,0,0,Two year,1,Bank transfer (automatic),21.15,1419.4,0,45,5306
7039,California,1,0,1,1,24,1,1,DSL,1,...,1,1,One year,1,Mailed check,84.80,1990.5,0,59,2140
7040,California,0,0,1,1,72,1,1,Fiber optic,0,...,1,1,One year,1,Credit card (automatic),103.20,7362.9,0,71,5560
7041,California,0,0,1,1,11,0,0,DSL,1,...,0,0,Month-to-month,1,Electronic check,29.60,346.45,0,59,2793
7042,California,1,0,0,0,66,1,0,Fiber optic,1,...,1,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0,38,5097

In [26]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_state=OneHotEncoder()
state_encoder=one_hot_encoder_state.fit_transform(data[['State']])
state_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 7043 stored elements and shape (7043, 1)>

In [ ]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_internet_service=OneHotEncoder()
is_encoder=one_hot_encoder_internet_service.fit_transform(data[['Internet Service']])
is_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 7043 stored elements and shape (7043, 3)>

In [28]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_Contract=OneHotEncoder()
contract_encoder=one_hot_encoder_Contract.fit_transform(data[['Contract']])
contract_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 7043 stored elements and shape (7043, 3)>

In [29]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_payment_method=OneHotEncoder()
payment_encoder=one_hot_encoder_payment_method.fit_transform(data[['Payment Method']])
payment_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 7043 stored elements and shape (7043, 4)>

In [31]:
data.shape

(7043, 23)

In [32]:
state_encoded_df=pd.DataFrame(state_encoder.toarray(),columns=one_hot_encoder_state.get_feature_names_out(['State']))
state_encoded_df

      State_California
0                  1.0
1                  1.0
2                  1.0
3                  1.0
4                  1.0
...                ...
7038               1.0
7039               1.0
7040               1.0
7041               1.0
7042               1.0

[7043 rows x 1 columns]

In [33]:
is_encoded_df=pd.DataFrame(is_encoder.toarray(),columns=one_hot_encoder_internet_service.get_feature_names_out(['Internet Service']))
is_encoded_df

      Internet Service_DSL  Internet Service_Fiber optic  Internet Service_No
0                      1.0                           0.0                  0.0
1                      0.0                           1.0                  0.0
2                      0.0                           1.0                  0.0
3                      0.0                           1.0                  0.0
4                      0.0                           1.0                  0.0
...                    ...                           ...                  ...
7038                   0.0                           0.0                  1.0
7039                   1.0                           0.0                  0.0
7040                   0.0                           1.0                  0.0
7041                   1.0                           0.0                  0.0
7042                   0.0                           1.0                  0.0

[7043 rows x 3 columns]

In [34]:
payment_encoded_df=pd.DataFrame(payment_encoder.toarray(),columns=one_hot_encoder_payment_method.get_feature_names_out(['Payment Method']))
payment_encoded_df

,Payment Method_Bank transfer (automatic),Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check
0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0
...,...,...,...,...
7038,1.0,0.0,0.0,0.0
7039,0.0,0.0,0.0,1.0
7040,0.0,1.0,0.0,0.0
7041,0.0,0.0,1.0,0.0
7042,1.0,0.0,0.0,0.0

In [35]:
contract_encoded_df=pd.DataFrame(contract_encoder.toarray(),columns=one_hot_encoder_Contract.get_feature_names_out(['Contract']))
contract_encoded_df

      Contract_Month-to-month  Contract_One year  Contract_Two year
0                         1.0                0.0                0.0
1                         1.0                0.0                0.0
2                         1.0                0.0                0.0
3                         1.0                0.0                0.0
4                         1.0                0.0                0.0
...                       ...                ...                ...
7038                      0.0                0.0                1.0
7039                      0.0                1.0                0.0
7040                      0.0                1.0                0.0
7041                      1.0                0.0                0.0
7042                      0.0                0.0                1.0

[7043 rows x 3 columns]

In [36]:
#combine one-hot encoded columns with original data
data=pd.concat([data.drop('State',axis=1),state_encoded_df],axis=1)
data

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,...,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV,State_California
0,1,0,0,0,2,1,0,DSL,1,1,...,0,Month-to-month,1,Mailed check,53.85,108.15,1,86,3239,1.0
1,0,0,0,1,2,1,0,Fiber optic,0,0,...,0,Month-to-month,1,Electronic check,70.70,151.65,1,67,2701,1.0
2,0,0,0,1,8,1,1,Fiber optic,0,0,...,1,Month-to-month,1,Electronic check,99.65,820.5,1,86,5372,1.0
3,0,0,1,1,28,1,1,Fiber optic,0,0,...,1,Month-to-month,1,Electronic check,104.80,3046.05,1,84,5003,1.0
4,1,0,0,1,49,1,1,Fiber optic,0,1,...,1,Month-to-month,1,Bank transfer (automatic),103.70,5036.3,1,89,5340,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,0,72,1,0,No,0,0,...,0,Two year,1,Bank transfer (automatic),21.15,1419.4,0,45,5306,1.0
7039,1,0,1,1,24,1,1,DSL,1,0,...,1,One year,1,Mailed check,84.80,1990.5,0,59,2140,1.0
7040,0,0,1,1,72,1,1,Fiber optic,0,1,...,1,One year,1,Credit card (automatic),103.20,7362.9,0,71,5560,1.0
7041,0,0,1,1,11,0,0,DSL,1,0,...,0,Month-to-month,1,Electronic check,29.60,346.45,0,59,2793,1.0
7042,1,0,0,0,66,1,0,Fiber optic,1,0,...,1,Two year,1,Bank transfer (automatic),105.65,6844.5,0,38,5097,1.0

In [37]:
data=pd.concat([data.drop('Internet Service',axis=1),is_encoded_df],axis=1)
data

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,...,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV,State_California,Internet Service_DSL,Internet Service_Fiber optic,Internet Service_No
0,1,0,0,0,2,1,0,1,1,0,...,Mailed check,53.85,108.15,1,86,3239,1.0,1.0,0.0,0.0
1,0,0,0,1,2,1,0,0,0,0,...,Electronic check,70.70,151.65,1,67,2701,1.0,0.0,1.0,0.0
2,0,0,0,1,8,1,1,0,0,1,...,Electronic check,99.65,820.5,1,86,5372,1.0,0.0,1.0,0.0
3,0,0,1,1,28,1,1,0,0,1,...,Electronic check,104.80,3046.05,1,84,5003,1.0,0.0,1.0,0.0
4,1,0,0,1,49,1,1,0,1,1,...,Bank transfer (automatic),103.70,5036.3,1,89,5340,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,0,72,1,0,0,0,0,...,Bank transfer (automatic),21.15,1419.4,0,45,5306,1.0,0.0,0.0,1.0
7039,1,0,1,1,24,1,1,1,0,1,...,Mailed check,84.80,1990.5,0,59,2140,1.0,1.0,0.0,0.0
7040,0,0,1,1,72,1,1,0,1,1,...,Credit card (automatic),103.20,7362.9,0,71,5560,1.0,0.0,1.0,0.0
7041,0,0,1,1,11,0,0,1,0,0,...,Electronic check,29.60,346.45,0,59,2793,1.0,1.0,0.0,0.0
7042,1,0,0,0,66,1,0,1,0,1,...,Bank transfer (automatic),105.65,6844.5,0,38,5097,1.0,0.0,1.0,0.0

In [38]:
data=pd.concat([data.drop('Contract',axis=1),contract_encoded_df],axis=1)
data

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,...,Churn Value,Churn Score,CLTV,State_California,Internet Service_DSL,Internet Service_Fiber optic,Internet Service_No,Contract_Month-to-month,Contract_One year,Contract_Two year
0,1,0,0,0,2,1,0,1,1,0,...,1,86,3239,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0,0,0,1,2,1,0,0,0,0,...,1,67,2701,1.0,0.0,1.0,0.0,1.0,0.0,0.0
2,0,0,0,1,8,1,1,0,0,1,...,1,86,5372,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0,0,1,1,28,1,1,0,0,1,...,1,84,5003,1.0,0.0,1.0,0.0,1.0,0.0,0.0
4,1,0,0,1,49,1,1,0,1,1,...,1,89,5340,1.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,0,72,1,0,0,0,0,...,0,45,5306,1.0,0.0,0.0,1.0,0.0,0.0,1.0
7039,1,0,1,1,24,1,1,1,0,1,...,0,59,2140,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7040,0,0,1,1,72,1,1,0,1,1,...,0,71,5560,1.0,0.0,1.0,0.0,0.0,1.0,0.0
7041,0,0,1,1,11,0,0,1,0,0,...,0,59,2793,1.0,1.0,0.0,0.0,1.0,0.0,0.0
7042,1,0,0,0,66,1,0,1,0,1,...,0,38,5097,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [39]:
data=pd.concat([data.drop('Payment Method',axis=1),payment_encoded_df],axis=1)
data

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,...,Internet Service_DSL,Internet Service_Fiber optic,Internet Service_No,Contract_Month-to-month,Contract_One year,Contract_Two year,Payment Method_Bank transfer (automatic),Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check
0,1,0,0,0,2,1,0,1,1,0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,0,0,1,2,1,0,0,0,0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,0,0,1,8,1,1,0,0,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,0,1,1,28,1,1,0,0,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,0,0,1,49,1,1,0,1,1,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,0,72,1,0,0,0,0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
7039,1,0,1,1,24,1,1,1,0,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7040,0,0,1,1,72,1,1,0,1,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
7041,0,0,1,1,11,0,0,1,0,0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
7042,1,0,0,0,66,1,0,1,0,1,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [40]:
#save the encoders and scaler
with open('label_encoder_dependents.pkl','wb') as file:
    pickle.dump(label_encoder_dependents,file)
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('label_encoder_senior_citizen.pkl','wb') as file:
    pickle.dump(label_encoder_senior_citizen,file)
with open('label_encoder_partner.pkl','wb') as file:
    pickle.dump(label_encoder_partner,file)
with open('label_encoder_phoneservice.pkl','wb') as file:
    pickle.dump(label_encoder_phoneservice,file)
with open('label_encoder_multiple_lines.pkl','wb') as file:
    pickle.dump(label_encoder_multiple_lines,file)
with open('label_encoder_online_security.pkl','wb') as file:
    pickle.dump(label_encoder_online_security,file)
with open('label_encoder_online_backup.pkl','wb') as file:
    pickle.dump(label_encoder_online_backup,file)
with open('label_encoder_device_protection.pkl','wb') as file:
    pickle.dump(label_encoder_device_protection,file)
with open('label_encoder_tech_support.pkl','wb') as file:
    pickle.dump(label_encoder_tech_support,file)
with open('label_encoder_streaming_tv.pkl','wb') as file:
    pickle.dump(label_encoder_streaming_tv,file)
with open('label_encoder_streaming_movies.pkl','wb') as file:
    pickle.dump(label_encoder_streaming_movies,file)

with open('onehot_encoder_state.pkl','wb') as file:
    pickle.dump(one_hot_encoder_state,file)
with open('onehot_encoder_internet_service.pkl','wb') as file:
    pickle.dump(one_hot_encoder_internet_service,file)
with open('onehot_encoder_Contract.pkl','wb') as file:
    pickle.dump(one_hot_encoder_Contract,file)
with open('onehot_encoder_payment_method.pkl','wb') as file:
    pickle.dump(one_hot_encoder_payment_method,file)